.full-width-table {
    width: 100%;
}

.employeeList {
    width: 98%;
    margin-top: 10px;
    margin-left: 8px;
    position: relative;
}

.delete {
    color: #ff0000;
}

.delete:hover {
    opacity: 70%;
}

.edit {
    color: #6495ED;
}

.edit:hover {
    opacity: 70%;
}

.active {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.filter {
    margin-top: 10px;
    margin-bottom: 30px;
}

.filterText {
    font-family: inherit;
    font-style: initial;
    font-size: 16px;
    margin-left: 10px;
}

.inputFilter {
    width: 50%;
}

.newEmployee {
    position: absolute;
    right: 0;
}